@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}

body {
  box-sizing: border-box;
}
.leaflet-div-icon {
  border: transparent !important;
  background: transparent !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
